body
{
background-color: rgb(47, 142, 142);
}

.color-picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator{
    display: flex;
    justify-content: space-around;
}

.rgb-calc {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.rgb-calc > div {
    display: flex;
    align-items: center;
}

.cmy-calc {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.cmy-calc > div {
    display: flex;
    align-items: center;
}

.hsl-calc {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.hsl-calc > div {
    display: flex;
    align-items: center;
}

#circle-color-picker {
    position: relative;
}

#color-indicator {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #ffffff;
    border: 1px #000 solid;
    border-radius: 20px;
    vertical-align: middle;
    margin-top: 20px;
    margin-bottom: 100px;
}

#out-color {
    display: inline-block;
    vertical-align: middle;
}

input{
    display: inline-block;
    width: 100%;
}

.calculator p {
    text-align: center;

    width: 80px;
    justify-content: flex-start;
}
.rgb-calc, .cmy-calc, .hsl-calc{
    border: rgb(143, 134, 134) 1px solid;
        padding: 15px;
        border-radius: 10px;
    }
input[type=range] {
    appearance: none;
    border-radius: 10px;
    height: 20px;
}